<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrms.mapper.OrdersMapper">
    <sql id="table_name">orders</sql>
    <sql id="select_fields">
      orderId, userName , telephone , goods
    </sql>
    <sql id="select_withemp_fields">
        orderId, userName, telephone, goods, emp_id, emp_name, emp_email, gender,department_id
    </sql>

    <resultMap id="withEmpResultMap" type="com.hrms.bean.Orders">
        <id column="orderId" property="orderId"></id>
        <result column="userName" property="userName"></result>
        <result column="telephone" property="telephone"></result>
        <result column="goods" property="goods"></result>
        <association property="employee" column="goods" javaType="com.hrms.bean.Employee">
            <id column="emp_id" property="empId"></id>
            <result column="emp_name" property="empName"></result>
            <result column="emp_email" property="empEmail"></result>
            <result column="gender " property="gender"></result>
            <result column="department_id " property="departmentId"></result>
        </association>
    </resultMap>

    <select id="selectOneById" parameterType="java.lang.Integer" resultType="com.hrms.bean.Orders">
        SELECT
        orderId orderId , userName   userName,telephone  telephone,goods  goods
        FROM
        <include refid="table_name"/>
        WHERE
        orderId = #{orderId }
    </select>

    <select id="selectOneByName" parameterType="String" resultType="com.hrms.bean.Orders">
        SELECT
        orderId orderId , userName   userName,telephone  telephone,goods  goods
        FROM
        <include refid="table_name"/>
        WHERE
        userName= #{ userName}
    </select>

    <select id="selectWithDeptById" parameterType="Integer"  resultMap="withEmpResultMap">
        SELECT
        <include refid="select_withemp_fields"/>
        FROM
        orders o ,tbl_emp e
        WHERE
        o.goods = e.emp_id
        AND
        o.orderId= #{orderId}
    </select>

    <select id="selectByLimitAndOffset" resultMap="withEmpResultMap">
        SELECT
        <include refid="select_withemp_fields"></include>
        FROM
        orders o
        LEFT JOIN
        tbl_emp e
        ON
        o.goods = e.emp_id
        ORDER BY o.orderId
        LIMIT #{offset}, #{limit}
    </select>

    <update id="updateOneById" parameterType="com.hrms.bean.Orders">
        UPDATE
        <include refid="table_name"/>
        SET
        userName = #{orders.userName jdbcType = VARCHAR},
        telephone = #{ orders.telephone , jdbcType = VARCHAR},
        goods = #{ orders.goods , jdbcType = INTEGER}
        WHERE
        orderId = #{orderId , jdbcType = INTEGER}
    </update>
</mapper>